<div class="container-md container-fluid">
	<div style="float: right">
		<form>
			<div class="mb-3 row">
				<label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
				<div class="col-xs-3 col-sm-auto">
					<input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
				</div>
			</div>
		</form>
	</div>

	<!--Table-->
	<table class="table table-hover">
		<!-- Columns -->
		<thead>
			<tr>
				<th> Id </th>
				<th> Name </th>
				<th> Roast </th>
				<th> Format </th>
				<th>Options</th>
			</tr>
		</thead>
	<!-- Columns -->
	<!-- Data -->
		<tbody >
			@for (data of coffeeObj | async; track data.roaster; let i = $index) {
			<tr (click)="checkExpanded(data)">
				<td> {{data.id}}</td>
				<td> {{data.roaster}} </td>
				<td> {{data.size}} </td>
				<td> {{data.format}} </td>
				<td><button class="btn btn-outline-secondary btn-sm"  (click)="getDetailsFromCoffee(data)"><i class="bi bi-info-circle-fill"> Details</i></button></td>
			</tr>} @empty {
				<tr>
					<td colspan="4" style="text-align: center">No roaster</td>
				</tr>
			}
		</tbody>
		<!-- Data -->
	</table>
	<div class="text-center">
		<pagination-controls (pageChange)="p = $event" ></pagination-controls>
	</div>
	</div>
<br>

<!-- Modal -->
<div class="modal" id="myModalDetails">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Details Coffee</h5>
				<button type="button" class="btn-close" (click)="closeModal()"></button>
			</div>
			<div class="modal-body">
				<app-details-view-coffee [dataRow]="coffeeRow"></app-details-view-coffee>
			</div>
		</div>
	</div>
</div>
