<div>
	<!--Card -->
	<div class="card">
			<div class="card-header">
				<i class="bi bi-cup-hot-fill me-2"></i> <strong>{{ dataRow?.roaster }}</strong>
			</div>
					<div class="card-body">
						<h5 class="card-title"> </h5>
						<div class="container">
							<div>
								<h5>Basic Details</h5>
							</div>
							<div class="border rounded " style="background-image: linear-gradient(rgba(255,255,255,1), rgba(245,244,247,1));">
								<p class="mb-1 ms-2 d-inline-block"><strong>id: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.id}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>is Active?: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.active}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>Roast: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.roast}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>SingleOrigin: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.singleOrigin}}</p>
							</div>
							<br>
							<div>
								<h5>Other Details</h5>
							</div>
							<div class="border rounded" style="background-image: linear-gradient(rgba(255,255,255,1), rgba(245,244,247,1));">
								<p class="mb-1 ms-2 d-inline-block"><strong>Size: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.size}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>Format: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.format}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>Variety: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.variety}}</p>
								<br>
								<p class="mb-1 ms-2 d-inline-block"><strong>Grind: </strong></p>
								<p class="mb-2 ms-2 d-inline-block">{{dataRow?.grind}}</p>
							</div>
							<br>
							<div>
								<h5>Final Notes</h5>
							</div>
							<div class="border rounded" style="background-image: linear-gradient(rgba(255,255,255,1), rgba(245,244,247,1));">
								<p class="ms-2 mt-2"> <strong>Tasting Notes: </strong></p>
								<p class="mb-2 ms-2">{{dataRow?.tastingNotes}}</p>
								<br>
							</div>
				</div>
		</div>
	</div>
	<div  class="text-end">
		<br>
		<button class="btn btn-primary" (click)="closeModal()"> Exit</button>
	</div>
</div>
<!--Card -->
