.banner-content {
	margin-top: -750px;

}

.banner-content h1 {
	color: #fff;
	font-size: 60px;
	font-weight: 600;
	line-height: 1em;
	margin-top: 20px;
	margin-bottom: 20px;
}

.banner-content h1 span {
	font-weight: 700;
}
